/* 

#sample {
  width: 700px;
  height: 400px;
} */


body{
  background: #e3ddd7;
  font-family: '游ゴシック体', YuGothic, '游ゴシック', 'Yu Gothic', 'メイリオ', Meiryo, 'Hiragino Sans', 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', sans-serif;
}



.doc_head{
  width: 100%;
  height: 80px;
  padding: 0 5%;
  margin-bottom: 30px;
  background: #cd0134;
  line-height: 80px;
  color: #fff;
  letter-spacing: .05em;
  display: flex;
  justify-content: space-between;
}

.doco_title{
  font-size: 36px;
  font-family: cursive;
}

.doc_team{
  font-size: 28px;
  font-family: cursive;
}


.inner{
  width:71%;
  padding-bottom: 200px;
  margin: 0 auto;
}

.intro_box{
  margin-bottom: 30px;
  font-size: 24px;
}

.intro_span{
  margin-left: auto;
  font-size: 20px;
  width: fit-content;
  display: block;
}

.map_box{
  width: fit-content;
  margin: 0 auto 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.station_box{
  position: relative;
  z-index: 10;
}


.input_box{
  width: fit-content;
  padding: 8% 14% 15% 18%;
  margin-left: -27%;
  background: #fff;
  white-space: nowrap;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.location_lavel{
  margin-bottom: 12px;
}

.input{
  width: fit-content;
  padding: 4px;
  margin-bottom: 20px;
}

.input:last-child{
  margin-bottom: 0;
}

.btn{
  width: 100%;
  padding: 9px 27px 13px 27px;
  margin: 0 auto;
  border: none;
  background: #4ec;
  font-weight: 600;
  text-align: right;
  overflow: hidden;
  position: relative;
}

.btn::before{
  content: "";
  width: 100%; 
  height: 1px;
  background: #cd0134;
  transition: .3s;
  transition-delay: .3s;
  position: absolute;
  top: 80%;
  left: 80%;
}

.btn:hover::before{
  height: 2px;
  transition: .3s;
  transition-delay: 0s;
  left: 15%;
}

.btn::after{
  content: "";
  width: 0%; 
  height: 1px;
  background: #cd0134;
  transition: .3s;
  transition-delay: 0s;
  transform-origin: center left;
  transform: rotate(-30deg);
  position: absolute;
  top: 80%;
  left: 15%;
}

.btn:hover::after{
  width: 100%;
  height: 2px;
  transition: .3s;
  transition-delay: .3s;
  left: 15%;
}


.curr_loca{
  margin-bottom: 30px;
}


.detail{
  display: flex;
  justify-content: space-between;
  position: relative;
}

.txt-margin{
  white-space: nowrap;
}








.display{
  position: absolute;
  right: 0;
}
.roulette{
  width: 150px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: 150px;
  position: relative;
}
.cil{
  width: 80px;
  height: 80px; 
  background-color: rgb(250, 255, 180);
  border-radius: 50%;/* 円*/
  line-height: 80px;
  text-align: center;
  display: block;
  position: absolute;
  top: 0!important;
}
.cil:first-child{
  left: 0px!important;
}

.cil:last-child{
  left: 150px!important;
}
.c_button{
  margin: 60px auto 0;
  margin-right: 30px;
  position: relative;
}
.roulette_btn {
  width: 150px;
  height: 50px;
  margin: 20px;
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  text-align: center;
}
.roulette_btn:hover {
  color: #fff;
  background: #000;
}
.red {
  background-color:#ff0062;
  width: 80px;
  height: 80px; 
  border-radius: 50%;/* 円*/
  line-height: 80px;
  text-align: center;
  display: block;
  position: absolute;
}
.pink{
  background-color:#ff73dc;
  width: 80px;
  height: 80px; 
  border-radius: 50%;/* 円*/
  line-height: 80px;
  text-align: center;
  display: block;
  position: absolute;
}






.footer{
  height: 80px;
  background: #111;
}

small{
  width: fit-content;
  margin: 0 auto;
  color: #fff;
  font-size: 22px;
  line-height: 80px;
  display: block;
}